openapi: 3.0.1
info:
  title: Film API
  description: API to get the locations where the film was shot
  version: '0.1'
servers:
  - url: 'https://data.sfgov.org'
paths:
  /resource/wwmu-gmzc.json:
    get:
      tags:
        - Film
      description: This endpoint provides a list of films and its data, including The locations where the film was shot
      parameters:
        - name: '\$offset'
          in: query
          schema:
            type: string
          example: '0'
        - name: '\$limit'
          in: query
          schema:
            type: string
          example: '40'
        - name: '\$order'
          in: query
          schema:
            type: string
          example: title
      responses:
        '200':
          description: ok
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FilmData'
        '400':
          description: Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadResponse'

      servers:
        - url: 'https://data.sfgov.org'
components:
  schemas:
    FilmData:
      type: object
      properties:
        title:
          type: string
          description: The title of the film
          example: Dirty Harry
        release_year:
          type: integer
          description: The release year of the film
          example: 1971
        locations:
          type: string
          description: The locations where the film was shot
          example: Dante Building (1606 Stockton Street at Union)
        fun_facts:
          type: string
          description: Interesting facts about the film
          example: The cross sits at the highest point in San Francisco (938 feet). This version of the cross was erected in 1934.Though in Dirty Harry the cross is lit at night, the City stopped this practice in 1990.
        production_company:
          type: string
          description: The production company of the film
          example: The Malpaso Company
        distributor:
          type: string
          description: The distributor of the film
          example: Warner Brothers
        director:
          type: string
          description: The director of the film
          example: Don Siegel
        writer:
          type: string
          description: The writer of the film
          example: Harry Julian Fin
        actor_1:
          type: string
          description: The first actor of the film
          example: Clint Eastwood
        actor_2:
          type: string
          description: The second actor of the film
          example: Harry Guardino
        actor_3:
          type: string
          description: The third actor of the film
          example: Andrew Robinson
        visited:
          type: boolean
          description: If the film is saved as favourite, only for app purposes
          example: false
        favourite:
          type: boolean
          description: If the film has been visited by the user, only for app purposes
          example: false
        numberOfLocations:
          type: integer
          description: Total number of locations for this title
      required:
        - title
    BadResponse:
      properties:
        message:
          description: A description of the error
          type: string
          example: Invalid SoQL query
        errorCode:
          type: string
          example: query.soql.invalid
        data:
          type: string